button:focus, input:focus {outline:0;}

.container {
	text-align: center;
	margin-top: 50px;
}

#title-card {
	color: rgb(58, 66, 84);
	font-size: 36pt;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 1.5px;
	transition: all 0.4s;
}

#title-card:hover {
	transform: scale(1.1);
}
.main-navbar {
	margin-top: 10px;
	text-align: center;
	color: rgb(103, 114, 117);
}

.main-navbar h1 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: rgb(103, 114, 117);
	display: inline;
	letter-spacing: 1px;
	margin-left: 5px;
	margin-right: 2px;
}
.main-navbar button {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	transition: all 0.05s;
	padding: 0;
	width: 19px;
	height: 30px;
}

.main-navbar button:hover {
	transform: scale(1.1);
	border-bottom: 1px solid black;
	cursor: pointer;
}

.main-navbar img {
	margin-bottom: 0;
	width: 18px;
	height: 18px;
}

.main-navbar button {
	font-size: 30px;
	background-color: transparent;
	color: black;
	border: 0;
}

#settings-btn {
	font-family: Georgia, serif;
	padding: 0;
	border: none;
	background: none;
	line-height: 10px;
	color: gray;
}

#settings-btn:hover {
	color: black;
	cursor: pointer;
	border-bottom: 1px solid black;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content - The actual Box */
.modal-content {
    background-color: rgb(239, 240, 242);
    margin: auto;
    padding: 0 7px 5px 20px; /*Padding of the box*/
    border: 3px solid rgb(71, 74, 79);
    border-radius: 15px;
    width: 28%;
}

.modal-content h1 {
	color: rgb(71, 74, 79);
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 18pt;
	font-weight: 200;
}

.set-times form {
	font-family: Arial, Helvetica, sans-serif;
	display: inline;
	margin-left: 10px;
	font-size: 12pt;
}

input[type="text"]#min-label {
	-webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    text-align: right;
    margin: 0 0 0 -8px;
    width: 55px;
    height: 25px;
    border-left: 0;
    border-right: 1px solid gray;
    background-color: white;
    color: black;
    padding-left: 0;
    padding-right: 6px;
}

.set-times input[type="text"] {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	padding-left: 6px;
	margin-left: 3px;
	width: 24px;
	height: 25px;
	border: 1px solid gray;
	border-right: 0px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#savebtn {
	display: block;
	background-color: transparent;
	border: none;
	margin-top: 15px;
	line-height: 10px;
	color: gray;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

#savebtn:hover {
	cursor: pointer;
	color: black;
	font-weight: 700px;
}

/* CSS for Timer and Timer Buttons */
#timer-wrapper {
	margin: 30px auto 10px;
	text-align: center;
}

#timer {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 100px;
	color: rgb(103, 114, 117);
	text-align: center;
	margin: 20px auto 40px;
}

.timer-buttons {
	margin-bottom: 40px;
}

.timer-buttons button {
	margin: 3px 20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: rgb(242, 247, 255);
	font-size: 20px;
	border-radius: 10px;
	border: 3px solid gray;
	transition: all 0.05s;
}

.timer-buttons button:hover {
	transform: scale(1.15);
}

.timer-buttons #reset:active {
	transform: scale(1.15);
	color: rgb(62, 65, 68);
	border-color: rgb(62, 65, 68);
	box-shadow: 7px 7px 15px 0px rgba(208,207,255,1);
}

#reset.disabled {
	border-color: rgb(181, 181, 181) !important;
	background-color: rgb(229, 229, 229) !important;
	transform: none !important;
	color: rgb(242, 247, 255) !important;
	box-shadow: none !important; 
}

.timer-buttons .btnOn {
	transform: scale(1.15);
	color: rgb(62, 65, 68);
	font-weight: bold;
	border-color: rgb(62, 65, 68);
	box-shadow: 7px 7px 15px 0px rgba(208,207,255,1);
}

/* CSS for Sound buttons */
.sounds-navbar {
	text-align: center;
}

.sounds-navbar button {
	margin: 0 20px;
	border-radius: 15px;
  	border: 2px solid gray;
  	padding: 5px;
  	background-color: white;
  	transition: all .05s;
}

#mute:hover {
	transform: scale(1.2);
	border-color: black;
}

.sounds-navbar .playing {
	background-color: rgb(222, 226, 239);
}

#white-noise-btn:hover, #white-noise-btn.playing{
	transform: scale(1.2);
	border-color: rgb(229, 229, 229);
}
#rain-btn:hover, #rain-btn.playing {
	transform: scale(1.2);
	border-color: rgb(52, 98, 173);
}
#campfire-btn:hover, #campfire-btn.playing {
	transform: scale(1.2);
	border-color: rgb(237, 47, 14);
}
#waves-btn:hover, #waves-btn.playing {
	transform: scale(1.2);
	border-color: rgb(69, 209, 148);
}

.sounds-navbar img {
	width: 40px;
	height: 40px;
}