#timer-wrapper {
	margin: 200px auto 10px;
	text-align: center;
}

#timer {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 100px;
	color: rgb(103, 114, 117);
	text-align: center;
	margin: 10px auto ;
}

button:focus {outline:0;}

.timer-buttons button {
	margin: 3px 20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: rgb(232, 235, 239);
	font-size: 20px;
	border-radius: 10px;
	border: 3px solid gray;
	transition: all 0.05s;
}

.timer-buttons button:hover {
	transform: scale(1.15);
}
.timer-buttons #reset:active {
	transform: scale(1.15);
	color: rgb(62, 65, 68);
	border-color: rgb(62, 65, 68);
	box-shadow: 7px 7px 15px 0px rgba(208,207,255,1);
}

.timer-buttons .btnOn {
	transform: scale(1.15);
	color: rgb(62, 65, 68);
	font-weight: bold;
	border-color: rgb(62, 65, 68);
	box-shadow: 7px 7px 15px 0px rgba(208,207,255,1);
}

.sounds-navbar {
	text-align: center;
}

.sounds-navbar button {
	margin: 5px 20px;
	border-radius: 15px;
  	border: 2px solid gray;
  	padding: 5px;
  	background-color: white;
}

.sounds-navbar img {
	width: 40px;
	height: 40px;
}