button:focus {outline:0;}

.main-navbar {
	margin-top: 100px;
	text-align: center;
	color: rgb(103, 114, 117);
}

.main-navbar h1 {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: rgb(103, 114, 117);
	display: inline;
	letter-spacing: 1px;
}
.main-navbar button {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	transition: all 0.05s;
	padding: 0;
	width: 19px;
	height: 30px;
}

.main-navbar button:hover {
	transform: scale(1.1);
	border-bottom: 1px solid black;
}

.main-navbar img {
	margin-bottom: 0;
	width: 18px;
	height: 18px;
}

.main-navbar button {
	font-size: 30px;
	background-color: transparent;
	color: black;
	border: 0;
}

#timer-wrapper {
	margin: 50px auto 10px;
	text-align: center;
}

#timer {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 100px;
	color: rgb(103, 114, 117);
	text-align: center;
	margin: 20px auto 40px;
}

.timer-buttons {
	margin-bottom: 40px;
}

.timer-buttons button {
	margin: 3px 20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: rgb(242, 247, 255);
	font-size: 20px;
	border-radius: 10px;
	border: 3px solid gray;
	transition: all 0.05s;
}

.timer-buttons button:hover {
	transform: scale(1.15);
}
.timer-buttons #reset:active {
	transform: scale(1.15);
	color: rgb(62, 65, 68);
	border-color: rgb(62, 65, 68);
	box-shadow: 7px 7px 15px 0px rgba(208,207,255,1);
}

.timer-buttons .btnOn {
	transform: scale(1.15);
	color: rgb(62, 65, 68);
	font-weight: bold;
	border-color: rgb(62, 65, 68);
	box-shadow: 7px 7px 15px 0px rgba(208,207,255,1);
}

.sounds-navbar {
	text-align: center;
}

.sounds-navbar button {
	margin: 0 20px;
	border-radius: 15px;
  	border: 2px solid gray;
  	padding: 5px;
  	background-color: white;
  	transition: all .05s;
}

.sounds-navbar button:hover {
	transform: scale(1.2);
	border-color: rgb(52, 98, 173);
}

.sounds-navbar .playing {
	transform: scale(1.2);
	border-color: rgb(52, 98, 173);
	background-color: rgb(214, 229, 252);
}

.sounds-navbar img {
	width: 40px;
	height: 40px;
}